*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
body {
    line-height: 1;
    font-size: 1em;
    font-family: 'Noto Sans KR', sans-serif !important;
    word-break: keep-all;
    margin-top: 120px !important;
}
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

#wrap{
    position: relative;
    margin: 0 auto;
}

#section1{
    margin: 0 auto;
    max-width: 1280px;
    height: 80vh;
}

/* mainText */
#mainText{
    text-align: center;
    margin: 0 auto;
    padding: 120px 0 100px 0;
}
#mainText .mText {}
#mainText .mText h2{}
#mainText .mText p{
    padding-top: 50px;
}

/* Top Tab */
#myTab{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-tabs .nav-link{
    border-radius: 0;
    background-color: #d1d1d1;
    color: #000;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border: var(--bs-nav-tabs-border-width) none transparent;
}
.nav-item{
    flex-grow: 1;
    /* width: 100%; */
}
.nav-link{
    margin: 0 auto;
    width: 100%;
}
.nav-tabs .nav-link.active{
    width: 100%;
    background-color: #000;
    color: #fff;
}

/* Bottom Tab */
#myTabContent{
    max-width: 1280px;
    height: 600px;
    margin: 0 auto;
}
.tab-content>.active{
    text-align: center;
    height: 100%;
}