

#wrap{
    padding-left: 20px;
    padding-right: 20px;
}

/* swiper start */
html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

video{
    /* max-width: 1280px; */
    position: absolute;
    height : 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* slide text start */
.mySwiper .slide{
    position: relative;
}

.mySwiper .slide1 > .slideText,
.mySwiper .slide2 > .slideText,
.mySwiper .slide3 > .slideText,
.mySwiper .slide4 > .slideText{
    position: absolute;
    display: inline-block;
    bottom: 250px;
    left: 100px;
}

.mySwiper .slide1 > .slideText > h2,
.mySwiper .slide2 > .slideText > h2,
.mySwiper .slide3 > .slideText > h2,
.mySwiper .slide4 > .slideText > h2{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 160%;
    text-align: left;
}

.mySwiper .slide1 > .slideText > h2,
.mySwiper .slide3 > .slideText > h2,
.mySwiper .slide4 > .slideText > h2{
    color: #fff;
}

.mySwiper .slide2 > .slideText > h2{
    color: #3f3f3f;
}
/* slide text end */

.cls-2 {
    fill: #fff !important;
    stroke: rgba(255, 255, 255, 0.9);
    stroke-linecap: round;
    animation-iteration-count: infinite;
}

.slide2 > #do4{
    text-transform: uppercase;
    animation: stroke 6s 1 alternate;
    animation-iteration-count: infinite;
    /* fill: rgba(72, 500, 500, 1); */
    position: absolute;
    width: 90px;
    right: 100px;
    bottom: 100px;
}

/* swiper */
.swiper-button-next,
.swiper-rtl .swiper-button-prev{
    right: var(--swiper-navigation-sides-offset, 20px) !important;
    left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next{
    left: var(--swiper-navigation-sides-offset, 20px) !important;
    right: auto;
}
.swiper-button-next,
.swiper-button-prev{
    height: 50px !important;
    width: 30px !important;
    color: #fff !important;
}
.swiper-button-next:after,
.swiper-button-prev:after{
    font-size: 40px !important;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
    bottom: var(--swiper-pagination-bottom,10px) !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,5px) !important;
}
.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px)) !important;
    background: var(--swiper-pagination-bullet-inactive-color, #fff) !important;
    transition: 0.3s;
}
.swiper-pagination-bullet-active{
    background: #a81113 !important;
}
.swiper-pagination-bullet:hover{
    background: #a81113;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}
/* swiper end */


/* section1 start */
#section0, #section2{
    max-width: 1280px;
    margin: 0 auto;
}
/* section1 end */


/* section2 start */
#section2{
    max-width: 1280px;
    margin: 0 auto;
}
#section2 a {
    position: relative;
}

#section2 .ta1,
#section2 .ta2,
#section2 .ta3,
#section2 .tw1,
#section2 .tw2,
#section2 .twe1,
#section2 .twe2,
#section2 .twe3{
    overflow: hidden;
}

/* #section2 .ta1 > a:hover,
#section2 .ta2 > a:hover,
#section2 .ta3 > a:hover,
#section2 .tw1 > a:hover,
#section2 .tw2 > a:hover,
#section2 .twe1 > a:hover,
#section2 .twe2 > a:hover,
#section2 .twe3 > a:hover{
    transform: scale(1.1);
} */

#section2 .ta li > a > p,
#section2 .tw .tw1 > a > p,
#section2 .tw .tw2 > a > p,
#section2 .te .te1 > a > p,
#section2 .te .te2 > a > p,
#section2 .te .te3 > a > p{
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 18px;
}
#section2 .tw li > a,
#section2 .te li > a{
    /* background-color: #333; */
    /* display: block; */
    color: #fff;
}

/* ta */
#section2 .ta{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    gap: 20px;
    padding-top: 20px;
    overflow: hidden;
}
#section2 .ta li{
    width: 100%;
}   
#section2 li > a{
    display: block;
}
#section2 .ta .ta1{
    background-color: #333;
}
#section2 .ta .ta2{
    background: url(../img/shop.jpg) no-repeat center center;
	background-size: cover;
}
#section2 .ta .ta3{
    background: url(../img/trade.jpg) no-repeat center center;
	background-size: cover;
}
#section2 .tBox .tw1{
    background: url(../img/light.png) no-repeat center center;
	background-size: cover;
}
#section2 .tBox .tw2{
    background: url(../img/im2.jpg) no-repeat center center;
	background-size: cover;
}
#section2 .te .te1{
    background: url(../img/p1.jpg) no-repeat center center;
	background-size: cover;
}
#section2 .te .te2{
    background: url(../img/m1.jpg) no-repeat center center;
	background-size: cover;
}
#section2 .te .te3{
    background: url(../img/im1.jpg) no-repeat center center;
	background-size: cover;
}
#section2 .ta .ta1 > a > img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
#section2 .ta .ta1 > a:hover > img,
#section2 .ta .ta2 > a:hover > img,
#section2 .ta .ta3 > a:hover > img{
    width: 33%;
}
#section2 .ta .ta1 > a:after,
#section2 .ta .ta2 > a:after,
#section2 .ta .ta3 > a:after,
#section2 .tBox .tw1 > a:after,
#section2 .tBox .tw2 > a:after,
#section2 .te .te1 > a:after,
#section2 .te .te2 > a:after,
#section2 .te .te3 > a:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    height: 100%;
    /* 왼쪽 위에서 오른쪽 아래로 투명 -> 색상 */
    /* background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 10%, rgba(51, 51, 51, 0.9) 90%); */
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 60%, rgba(51, 51, 51, 0.9) 100%)
}
/* tBox */
#section2 .tBox{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#section2 .tw{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    width: 100%;
    height: 800px;
}
#section2 .tw li{
    width: 100%;
}
#section2 .tw .tw1{
    height: 235px;
}
#section2 .tw .tw1 > a,
#section2 .tw .tw2,
#section2 .tw .tw2 > a{
    height: 100%;
}
#section2 .te{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#section2 .te li{
    height: 100%;
}
#section2 .teG1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    height: 100%;
}
#section2 .teG2{
    width: 100%;
}
#section2 .teG1 li > a{
    height: 100%;
}
#section2 .teG2 li > a{
    height: 100%;
}


/* section2 end */