
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li, ul, ol{
    list-style: none;
}

svg {
    font-size: 140px;
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

/* swiper start */
html,
body {
    position: relative;
    height: 100%;
}

body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* swiper end */


/* section1 start */
#section1{

}

/* section1 end */





/* Background start */
#do21{
    text-transform: uppercase;
    animation: stroke 3s 1 alternate;
    /* fill: rgba(72, 500, 500, 1); */
    stroke: rgba(255,255,255,0.8);
    /* 반복 ↓ */
    animation-iteration-count: infinite;
}
/* Background end */

/* Logo start */
#do4{
    text-transform: uppercase;
    animation: stroke 6s 1 alternate;
    /* fill: rgba(72, 500, 500, 1); */
    animation-iteration-count: infinite;
}
/* Logo end */

/*  */

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke: rgba(255,255,255,1);
        stroke-width: 1;
    }
    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 25% 0;
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 1);
        stroke-width: 0;
    }
}

/* @keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        fill: rgba(255, 255, 255, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 2;
    }

    70% {
        fill: rgba(150, 150, 150, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
    }

    80% {
        stroke: rgba(255, 255, 255, 0.8);
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        fill: rgba(90, 90, 90, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 0;
    }
} */


