

#wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.half{
    display: flex;
    justify-content: space-between;
}
.left-1{
    width: 100%;
    background-color: #aaa;
}
.imageBox{
    height: 700px;
}
.left-2{
    width: 100%;
}
.gb{
    padding-top: 30px;
    padding-bottom: 60px;
}
.gb > li{
    display: flex;
    justify-content: space-between;
}