

#wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.half{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.left-1{
    width: 100%;
    background-color: #aaa;
}
.imageBox{
    height: 700px;
}
.left-2{
    width: 100%;
}
.gb{
    padding-top: 30px;
    padding-bottom: 60px;
}
.gb > li{
    display: flex;
    justify-content: space-between;
}

.gb1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px #000 solid;
}
.gb1 > .box2{
    display: flex;
    justify-content: space-between;
}
.gb1 > .box2 > span{
    padding: 10px;
    border: 1px #000 solid;
}

.gb2 .gro{
    display: flex;
    justify-content: right;
}
.gb2 .gro > a{
    border: 1px #000 solid;
    padding: 10px;
    margin-left: 6px;
}