.c0{
    text-align: left;
    padding-left: 30px;
}

.tab-content>.active {
    text-align: left !important;
}
.c1{
    padding-top: 50px;
}
.c2{
    padding: 30px 0;
}
.c2::before{
    content: "";
    display: block;
    width: 50px;
    border-top: 2px #C2C2C2 solid;
}
.c2 > h6{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 160%;
}
.c2 > p{
    font-weight: 600;
    line-height: 160%;
}

.map{}
.map > iframe{
    width: 100%;
    height: 500px;
}




/* form start */

/* 폼 전체 스타일 */
form {
    max-width: 900px; /* 폼 최대 너비 */
    margin: 0 auto; /* 화면 가운데 정렬 */
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    font-family: Arial, sans-serif;
}
.cBox{
    display: flex;
    justify-content: right;
    padding-top: 20px;
}
/* 입력 그룹 스타일 */
form div {
    margin-bottom: 15px;
}

/* 라벨 스타일 */
form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* 입력 필드 스타일 */
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* 텍스트 영역 스타일 */
form textarea {
    resize: vertical; /* 세로 크기만 조정 가능 */
    /* min-height: 100px; */
    height: 400px;
}

/* 체크박스 스타일 */
form input[type="checkbox"] {
    margin-left: 10px;
}

/* 제출 버튼 스타일 */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

form button[type="submit"]:hover {
    background-color: #a81113;
}

/* 반응형 스타일 */
@media screen and (max-width: 500px) {
    form {
        padding: 15px;
    }
    
    form label, 
    form button[type="submit"] {
        font-size: 14px;
    }
}

/* form end */