.c0{
    text-align: left;
    padding-left: 30px;
}

.tab-content>.active {
    text-align: left !important;
}
.c1{
    padding-top: 50px;
}
.c2{
    padding: 30px 0;
}
.c2::before{
    content: "";
    display: block;
    width: 50px;
    border-top: 2px #C2C2C2 solid;
}
.c2 > h6{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 160%;
}
.c2 > p{
    font-weight: 600;
    line-height: 160%;
}

.map{}
.map > iframe{
    width: 100%;
    height: 500px;
}

/* form start */

/* 폼 전체 스타일 */
form {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 80px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
.cBox{
    display: flex;
    justify-content: right;
    padding-top: 20px;
}

form div {
    margin-bottom: 15px;
}

/* 라벨 스타일 */
form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* 입력 필드 스타일 */
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* 텍스트 영역 스타일 */
form textarea {
    resize: vertical;
    height: 400px;
    line-height: 160%;
}

/* 체크박스 스타일 */
form input[type="checkbox"] {
    margin-left: 10px;
}

/* 제출 버튼 스타일 */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

form button[type="submit"]:hover {
    background-color: #a81113;
}

/* form */
@media screen and (max-width: 500px) {
    form {
        padding: 15px;
    }
    
    form label, 
    form button[type="submit"] {
        font-size: 14px;
    }
}


/* 텍스트 영역 기본 스타일 */
textarea {
    width: 300px;
    height: 150px;
    resize: none;
    /* 사용자가 크기 조절하지 못하도록 고정 */
    overflow-y: scroll;
    /* 세로 스크롤바 항상 표시 */
}

/* 스크롤바 전체 영역 */
textarea::-webkit-scrollbar {
    width: 12px;
    /* 스크롤바 너비 */
}

/* 스크롤바 트랙 */
textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* 트랙 배경색 */
    border-radius: 10px;
}

/* 스크롤바 핸들 */
textarea::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 핸들 색상 */
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    /* 핸들 주변 여백 */
}

/* 스크롤바 핸들 호버 시 색상 */
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* 호버 시 핸들 색상 */
}

/* Firefox 스크롤바 스타일 */
textarea {
    scrollbar-width: thin;
    /* 스크롤바 너비 */
    scrollbar-color: #888 #f1f1f1;
    /* 핸들 색상 및 트랙 배경색 */
}
/* form end */