
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li, ul, ol{
    list-style: none;
}

svg {
    font-size: 140px;
    width: 100%;
    height: 100%;
}

/* Background start */
#do1{
    text-transform: uppercase;
    animation: stroke 6s 1 alternate;
    animation-iteration-count: infinite;
}
/* Background end */

/* Logo start */
#do4{
    text-transform: uppercase;
    animation: stroke 6s 1 alternate;
    animation-iteration-count: infinite;
}
/* Logo end */

/*  */
@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        fill: rgba(255, 255, 255, 0.1);
        stroke: rgba(255, 255, 255, 0.1);
        stroke-width: 2;
    }

    70% {
        fill: rgba(150, 150, 150, 0.1);
        stroke: rgba(255, 255, 255, 0.1);
    }

    80% {
        /* fill: rgba(72, 138, 204, 0); */
        stroke: rgba(255, 255, 255, 0.1);
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        fill: rgba(90, 90, 90, 0.8);
        stroke: rgba(255, 255, 255, 0.1);
        stroke-width: 0;
    }
}
