

#wrapper{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 0 0;
}

section{
    line-height: 120%;
    padding-top: 120px;
    padding-bottom: 50px;
}

.article{
    background-color: #333;
    height: 800px;
}


/* Background start */
/* #do21{
    text-transform: uppercase;
    animation: stroke 3s 1 alternate;
    stroke: rgba(255,255,255,0.8);
    animation-iteration-count: infinite;
} */
/* Background end */

/*  */
/* @keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        fill: rgba(255, 255, 255, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 2;
    }

    70% {
        fill: rgba(150, 150, 150, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
    }

    80% {
        stroke: rgba(255, 255, 255, 0.8);
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        fill: rgba(90, 90, 90, 0.8);
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 0;
    }
} */
